.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  grid-template-rows: repeat(6, 1fr);
}
.one {
  grid-column: 1 / span 12;
  grid-row: 1;
  background-color:#0093FF;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.two {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row: 2;
  background-color: fuchsia;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.three {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row: 2;
  background-color:saddlebrown;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.four {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row: 3;
  background-color:salmon;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.five {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row: 3;
  background-color:seagreen;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.six {
  grid-column: 3;
  grid-row: 5;
  background-color:tan;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}