.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: repeat(6, 1fr);
}
.header {
  grid-column: 1 / span 3;
  grid-row: 1;
  background-color:#0093FF;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.sidebarone {
  grid-column: 2;
  grid-row: 2;
  background-color: fuchsia;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.three {
  grid-column: 1;
  grid-row: 3;
  background-color:saddlebrown;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.four {
  grid-column: 3;
  grid-row: 4;
  background-color:salmon;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.five {
  grid-column: 2;
  grid-row: 5;
  background-color:seagreen;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.six {
  grid-column: 3;
  grid-row: 6;
  background-color:tan;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}