body {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height:3;
}
header {
  background: orangered
}
main {
  background: darkslateblue;
}
footer {
  background:deeppink;
}
.left-sidebar {
  background: dodgerblue;
}
.right-siderbar {
  background:forestgreen
}
.container {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 768px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }

main {
  flex: 2;
  order: 2;
  min-height: 80vh;
}

.left-sidebar {
  order: 1;
  flex: 1;
}

.right-siderbar {
  flex: 1;
  order:3;
}

footer {
  order: 4;
}

}