
body,
html {

margin: 1rem;
line-height: 1.5;
background-color: #C8A2C8;

    h1 {font-family: 'Abril Fatface', cursive;}
}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

  
} 

