
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1 { color: #AEC7A1; text-align: center; font-family: 'Abril Fatface', cursive; font-size: 36px; }
h2 { color: #ffffff; font-family: 'Raleway', sans-serif; font-size: 18px; }
a { color: #dff0d6; font-family: 'Raleway', sans-serif; font-size: 14px; }

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color:#FFE8FF;
    background-color:#C8A2C8;
  
  }

  img,
  video {
    height: auto;
    max-width: 100%;
  }
