/* a minimalist set of CSS resets */

/* default to border-box */

h1 { color: #AEC7A1; text-align: center; font-family: font/'Abril Fatface', cursive; }

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color:#FFE8FF;
    background-color:#C8A2C8;
  
  }

  img,
  video {
    height: auto;
    max-width: 100%;
  }
