body {
  margin: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  grid-template-rows: repeat(8, 1fr);
}
.wrapper >div {
  display: grid;
  color: white;
  border-left: 5px solid #FFA700;
  border-top: 5px solid #FFA700;
  vertical-align: middle;
  padding: 100px;
}

.one {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  background-color: #3D4BF5;
}
.two {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color:#7BE7F0;
}
.three {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color:#3D4BF5;
}
.four {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 8;
  background-color:#E8C4A1;
}
.five {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 8;
  background-color:#EAAC21;
}
.six {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
  background-color:#3D4BF5;
}
.seven {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
  background-color:#7BE7F0;
}
