@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:#EAEAEA;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  grid-template-rows: repeat(8, 1fr);
}
.wrapper >div {
  display: grid;
  color:#EAEAEA;
  padding: 0px;
  max-height:100%;
  max-width:100%;
}

.p {
  color: #EAEAEA;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.one {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  background-color: #4F6D7A;
}   


.two {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color:#4F6D7A
}
.three {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color:#4F6D7A;
}
.four {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 8;
  background-color:#4F6D7A;
}
.five {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 8;
  background-color:#4F6D7A
}
.six {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
  background-color:#4F6D7A;
}
.seven {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
  background-color:#4F6D7A
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  grid-template-rows: repeat(10, 1fr);
}
.container >div {
  display: grid;
  color: white;
  border-left: 5px solid #FFA700;
  border-top: 5px solid #FFA700;
  vertical-align: middle;
  padding: 100px;
}

.eleven {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #3D4BF5;
}
.twelve {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color:#0c2325;
}
.thirteen {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color:#3D4BF5;
}
.fourteen {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color:#E8C4A1;
}
.fifteen {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 8;
  background-color:#EAAC21;
}
.sixteen {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 8;
  background-color:#3D4BF5;
}
.seventeen {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 10;
  background-color:#7BE7F0;
}
.eighteen {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 11;
  background-color:#000000;
}

.box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0px;
  grid-template-rows: repeat(10, 1fr);
}
.box >div {
  display: grid;
  color: white;
  border-left: 5px solid #FFA700;
  border-top: 5px solid #FFA700;
  vertical-align: middle;
  padding: 100px;
}

.alpha {
  grid-column-start: 1;
  grid-row: 1;
  background-color: #3D4BF5;
}
.beta {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color:#7BE7F0;
}
.gamma {
  grid-column-start: 1;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color:#3D4BF5;
}
.delta {
  grid-column-start: 1;
  grid-row-start: 6;
  grid-row-end: 8;
  background-color:#E8C4A1;
}
.epsilon {
  grid-column-start: 1;
  grid-row-start: 8;
  grid-row-end: 10;
  background-color:#EAAC21;
}
.zeta {
  grid-column-start: 1;
  grid-row-start: 10;
  grid-row-end: 11;
  background-color:#21ea86;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #4F6D7A;
  font-family: 'Montserrat', sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: #EAEAEA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #EAEAEA;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #DD6E42;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EAEAEA;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #4F6D7A;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
