.wrapper {
  display: grid;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  grid-template-columns: repeat(12, 1fr);
  gap: 0px;
  grid-template-rows: repeat(6, 1fr);
  border: 10px #FFA700;
}
.p {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 1;
  padding: 75px;
  background-color: #0093FF;
  text-align: center;
}
.two {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row: 1;
  padding: 75px;
  background-color:#7BE7F0;
  text-align: center;
}
.three {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row: 1;
  padding: 75px;
  background-color:#0093FF;
  text-align: center;
}
.four {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row: 3;
  padding: 75px;
  background-color:#65BCB5;
  text-align: center;
}
.five {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row: 3;
  padding: 75px;
  background-color:#0093FF;
  text-align: center;
}
.six {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 4;
  padding: 75px;
  background-color:#EAAC21;
  text-align: center;
}
.seven {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row: 4;
  padding: 75px;
  background-color:#FFE200;
  text-align: center;
}
.eight {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row: 4;
  padding: 75px;
  background-color:#EAAC21;
  text-align: center;
}
.nine {
  grid-column: 1 / span 13;
  grid-row: 5;
  padding: 75px;
  background-color:#65BCB5;
  text-align: center;
}
.ten {
  grid-column: 1 / span 13;
  grid-row: 6;
  padding: 10px 10px 10px 10px;
  background-color:#0093FF;
  text-align: center;
}
.eleven {
  grid-column: 1 / span 13;
  grid-row: 6;
  padding: 10px 10px 10px 10px;
  background-color:#0093FF;
  text-align: center;
}
.twelve {
  grid-column: 1 / span 13;
  grid-row: 6;
  padding: 10px 10px 10px 10px;
  background-color:#0093FF;
  text-align: center;
}
.thirteen {
  grid-column: 1 / span 13;
  grid-row: 6;
  padding: 10px 10px 10px 10px;
  background-color:#0093FF;
  text-align: center;
}