body {
  margin: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0px;
  grid-template-rows: repeat(4, 1fr);
}
.wrapper >div {
  display: grid;
  color: white;
  border-left: 5px solid #FFA700;
  border-top: 5px solid #FFA700;
  vertical-align: middle;
  padding: 100px;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  grid-template-rows: repeat(2, 1fr);
}
.wrapper2 >div {
  display: grid;
  border: 2px solid #FFA700;
  vertical-align: middle;
  padding: 100px;
}


.one {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  background-color: #3D4BF5;
}
.two {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
  background-color:#7BE7F0;
}
.three {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row: 1;
  background-color:#3D4BF5;
}
.four {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 2;
  padding: 100px;
  background-color:#E8C4A1;
}
.five {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row: 2;
  background-color:#EAAC21;
}
.six {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 3;
  background-color:#3D4BF5;
}
.seven {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color:#7BE7F0;
}
.eight {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 4;
  background-color:#EAAC21;
}
.nine {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
  background-color:#3D4BF5;
}
.ten {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
  background-color:#7BE7F0;
}
.eleven {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
  background-color:#3D4BF5;
}
.twelve {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 1;
  background-color:#EAAC21;
}
.thirteen {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 2;
  background-color:#E8C4A1;
}