.wrapper {
  display: grid;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  border-radius: 10px black;
  grid-template-rows: repeat(6, 1fr);
}
.one {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 1;
  padding: 75px;
  background-color: #3D4BF5;
  text-align: center;
}
.two {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row: 1;
  padding: 75px;
  background-color:#7BE7F0;
  text-align: center;
}
.three {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row: 1;
  padding: 75px;
  background-color:#3D4BF5;
  text-align: center;
}
.four {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row: 2;
  padding: 75px;
  background-color:#E8C4A1;
  text-align: center;
}
.five {
  grid-column-start: 12;
  grid-column-end: 13;
  grid-row: 2;
  padding: 75px;
  background-color:#EAAC21;
  text-align: center;
}
.six {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row: 3;
  padding: 75px;
  background-color:#3D4BF5;
  text-align: center;
}
.seven {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 5;
  padding: 75px;
  background-color:#7BE7F0;
  text-align: center;
}
.eight {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row: 4;
  padding: 75px;
  background-color:#EAAC21;
  text-align: center;
}
.nine {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 5;
  padding: 75px;
  background-color:#3D4BF5;
  text-align: center;
}
.ten {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row: 5;
  padding: 10px 10px 10px 10px;
  background-color:#7BE7F0;
  text-align: center;
}
.eleven {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row: 5;
  padding: 10px 10px 10px 10px;
  background-color:#3D4BF5;
  text-align: center;
}
.twelve {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row: 5;
  padding: 10px 10px 10px 10px;
  background-color:#EAAC21;
  text-align: center;
}
.thirteen {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row: 6;
  padding: 10px 10px 10px 10px;
  background-color:#E8C4A1;
  text-align: center;
}